<%- include('header') %>
<%- include('nav-bar') %>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="page-name">
                    Csapat hozzáadása
                </h2>
                <form method="POST" action="/csapat/new">
                    <div class="form-group">
                        <label for="name">Csapat név</label>
                        <input type="text" class="form-control" id="name" name="name"
                               value="">
                    </div>
                    <div class="form-group">
                        <label for="size">Csapattagok száma</label>
                        <input type="number" class="form-control" id="size" name="size"
                               value="">
                    </div>
                    <div class="form-group">
                        <label for="maxlvl">Legnagyobb elért karakterszint</label>
                        <input type="number" class="form-control" id="maxlvl" name="maxlvl"
                               value="">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Hozzáadás"/>
                    <a class="btn btn-link" href="/csapatok">Mégsem</a>
                </form>
            </div>
        </div>
    </div>

</div>
<%- include('footer') %>